.about {
    margin-top: 50px;
}

.about-title {
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
}

.about-img-div {
    position: relative;    
}

.about-img {
    margin-top: 10px;
    height: 500px;
    width: 800px;    
    object-fit: cover;
    border-radius: 10px;
}

.about-img:hover {
    transform: scale(1.01)
}

.about-text {
    color: white;
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-weight: bold;
}

.page-footer {
    margin-top: 60px;
    color: white;
}

.page-footer-links {
    display: flex;
    gap: 110px;
}

.company, .communities,
.useful-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.company-title, .communities-title,
.useful-links-title {
    font-weight: bold;
}

.company-line, .communities-line,
.useful-links-line {
    color: rgb(170, 169, 169);
    cursor: pointer;
}

.company-line:hover, .communities-line:hover,
.useful-links-line:hover {
    text-decoration: underline;
    color: white;
}