.middle {
    display: flex;
    flex-direction: column;
}

.play-and-follow {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 260px;
    top: 20px;
}

.play-button {
    font-size: 25px;
    background-color: rgb(49, 167, 88);
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 18px;
    padding-right: 15px;
    border: none;
    border-radius: 34px;
    margin-right: 35px;
    cursor: pointer;
}

.play-button:hover {
    transform: scale(1.05);
}

.follow-button {
    font-weight: bold;
    background-color: transparent;
    color: white;
    border-color: rgb(185, 183, 183);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    height: 33px;
    padding-left: 15px;
    padding-right: 15px;
}

.follow-button:hover {
    border-color: white;
}

.more-options {
    margin-left: 25px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    margin-bottom: 12px;
}


.popular-songs {
    margin-left: 260px;
    margin-top: 40px;
    color: white;
}

.popular-title {
    font-size: 20px;
    font-weight: bold;
}

.songs {
    margin-left: 25px;
    margin-top: 15px;
}

.popular-song-div {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-left: 15px;
    
    border-radius: 5px;
    color: rgb(255, 255, 255);

    position: relative;
    right: 40px;

    margin-left: 20px;
}

.popular-left-side {
    display: flex;
    align-items: center;
    gap: 10px;

}

.popular-right-side {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.song-index {
    margin-right: 8px;
}

.song-title {
    cursor: pointer;
    font-size: 16px;
    
}

.song-title:hover {
    text-decoration: underline;
}

.cover-art {
    height: 40px;
}

.like-button {
    opacity: 0;
    font-weight: bold;
    font-size: 18px;
}

.popular-song-div:hover {
    .like-button, .more {
        opacity: 1;
    }

    background-color: rgb(54, 53, 53);

}

.more {
    margin-bottom: 13px;
    font-weight: bold;
    opacity: 0;
}

.see-more {
    margin-left: 8px;
    margin-top: 17px;
    font-size: 13px;
    font-weight: bold;
    color: rgb(204, 201, 201);
    background-color: transparent;
    border: none;

}

.see-more:hover {
    color: white;
}