.upside {
    background-color: rgb(107, 106, 110);
    box-shadow: 5px 5px 100px 150px rgba(104, 102, 102, 0.5);
    height: 350px;
    background: linear-gradient(to right, rgb(111, 112, 117), rgb(126, 126, 129) ,rgb(165, 162, 170));
    
}

.artist-picture {
    height: 200px;
    margin-left: 250px;
    margin-top: 120px;
    border-radius: 100px;
    box-shadow: 5px 5px 40px 10px rgba(0, 0, 0, 0.3);
}

.artist-name {
    position: relative;
    color: white;
    bottom: 175px;
    font-size: 95px;
    font-weight: bold;
    letter-spacing: -5px;
    width: 300px;
    margin-left: 460px;
}

.listeners-number {
    position: relative;
    
    bottom: 130px;
    color: white;
    width: 300px;
    margin-left: 460px;
}

.verified {
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 460px;
    bottom: 355px;
    font-size: 13px;
    width: 300px;
}

.verified-symbol {
    margin-right: 5px;
    height: 25px;

}

.artist-info {
    margin-left: 14px;
}

.header {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex: 1;
    
}

.signup-login-buttons {
    display: flex;
    position: relative;
    width: 200px;
}

.signup-button {
    display: inline-block;
    background-color: transparent;
    border: none;
    color: rgb(177, 177, 177);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-right: 15px;
}

.signup-button:hover {
    color: white;
    transform: scale(1.05);
}

.login-button {

    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 35px;
    padding-right: 35px;
    font-weight: bold;
    background-color: rgb(248, 244, 244);
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.login-button:hover {
    transform: scale(1.05);
}

.back-foward-buttons {
    position: relative;
    width: 100px;
    margin-left: 250px;
    bottom: 460px;
}

.back, .foward {
    border: none;
    background-color: rgb(31, 31, 31);
    padding-bottom: 9px;
    padding-top: 9px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: not-allowed;
}

.back {
   margin-right: 5px;
}